APP_NAME=backend-template
APP_PORT=8787
APP_CONTEXT=/api

DEV_HOST=http://127.0.0.1:8787
PRO_HOST=https://your-domain.com

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=backend_template
DB_LOGGING=false
DB_SYNCHRONIZE=true
DB_ENTITY_PREFIX=app_

JWT_SECRET=replace-with-your-own-secret
ACCESS_TOKEN_EXPIRES_IN=2h
REFRESH_TOKEN_EXPIRES_IN=30d

ENABLE_WS=false
DEFAULT_LOCALE=zh
